html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(24, 31, 42);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: rgb(24, 31, 42);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Caveat', Arial, Helvetica, sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    background-image: url('../images/banner.jpg');
    background-size: cover;
}

.banner>.profile {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name__profile {
    position: relative;
    margin-top: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 31, 42);
    border-radius: 4px;
    width: 420px;
    height: 55px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.name__profile h1 {
    font-size: 70px;
    float: left;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

@media(max-width: 500px) {
    .name__profile {
        width: 320px;
    }
    .name__profile h1 {
        font-size: 50px !important;
    }
}

@media(max-width: 320px) {
    .name__profile {
        width: 300px;
        height: 50px;
    }
    .name__profile h1 {
        font-size: 50px !important;
    }
}

.profile img {
    border-radius: 50%;
    border: 15px solid rgb(231, 177, 0);
}

.profile img:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
    animation: blinker-image 1.5s linear infinite;
    -webkit-animation: blinker-image 1.5s linear infinite;
    -moz-animation: blinker-image 1.5s linear infinite;
}

.cursor__name {
    padding-top: 10px;
    height: 50px;
    width: 2px;
    margin-left: 5px;
    float: right;
    background-color: white;
    animation: blinker 0.5s linear infinite;
}

.content__main {
    background-image: url('../images/main2.jpg');
    background-attachment: fixed;
}

.my-info__img{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
}

.my-info__img img{
    margin-left: 20px;
    width: 150px;
    height: 150px;
}

.my-about_img{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
}

.my-about_img img{
    margin-left: 5%;
    margin-top: 15%;
    width: 150px;
    height: 150px;
}

.title__content {
    display: flex;
    justify-content: center;
}

.title__content h1 {
    color: rgb(231, 177, 0);
    font-weight: 900;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    height: 500px;
    width: 400px;
    background-color: rgb(24, 31, 42);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.card:hover {
    transform: 0.2s;
    cursor: pointer;
    background-color: rgb(43, 51, 63);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.content__card {
    width: 100%;
}

.img__card {
    display: flex;
    justify-content: center;
}

.card>.content__card>.img__card {
    width: 100%;
    padding-top: 20px;
}

.content__card h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
}

.content__card p {
    color: white;
    font-size: 15px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 25px;
}

.spin {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.content__about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.about__img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__info {
    margin-top: 50px;
    padding: 20px 10px;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgb(73, 6, 102);
    border-radius: 10px;
}

@media(max-width: 1150px){
    .about__info {
        display: block;
    }
    .about__info p{
        padding: 0 13px !important;
    }
    .about__tecn{
        line-height: 40px !important;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .my-info__img img{
        margin-top: 25%;
        width: 90px;
        height: 90px;
    }
    .my-about_img{
        display: none;
    }
}

.about__info p {
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    text-align: justify;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 0 40px;
    font-size: 15px;
}

.content__fulltime {
    width: 100%;
}

.video__fulltime {
    display: flex;
    justify-content: center;
    width: 100%;
}

#video_fulltime {
    margin-bottom: 50px;
}

.info__fulltime>.logo__info {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
}

.logo__info img {
    margin: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 31, 42);
}

.footer p {
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

@keyframes blinker {
    20% {
        opacity: 0;
    }
}

@keyframes blinker-image {
    95% {
        opacity: 70%;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}